@model Projects.BL.Task

<div class="form-horizontal">
    <h4>Task</h4>
    <hr />
    @Html.ValidationSummary(true)

    @Html.HiddenFor(model => model.ItemID)

    <div class="form-group">
        @Html.LabelFor(model => model.TaskDescription, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.TaskDescription)
            @Html.ValidationMessageFor(model => model.TaskDescription)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.StatusID, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.StatusID, (SelectList)ViewBag.Statuses)
            @Html.ValidationMessageFor(model => model.StatusID)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.AppTypeID, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.AppTypeID, (SelectList)ViewBag.AppTypes)
            @Html.ValidationMessageFor(model => model.AppTypeID)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.AppProjectName, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.AppProjectName)
            @Html.ValidationMessageFor(model => model.AppProjectName)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.AppFile, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.AppFile)
            @Html.ValidationMessageFor(model => model.AppFile)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.LineNumbers, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.LineNumbers)
            @Html.ValidationMessageFor(model => model.LineNumbers)
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
</div>