@model Projects.BL.Item

@{
    ViewBag.Title = "AddSubItem";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Project.ProjectName</h2>
<h4>&laquo;Breadcrumb Trail&raquo;</h4>
<br />

@Html.Partial("_ItemView", Model)

@Html.Partial("~/Views/Task/_TaskListView.cshtml", Model)

@Html.Partial("_ItemListView", Model.GetItems())

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.TextBoxFor(model => model.ItemName, new { id = "txtItemName", @class = "form-control" })
    @Html.HiddenFor(model => model.ItemID)
    @Html.HiddenFor(model => model.ItemType)
    @Html.HiddenFor(model => model.ProjectID)
    
    <input type="submit" value="Save" class="btn btn-sm btn-success" />
}

<br />
<div>
    <a href='@Url.Action("Index", "Item", new { id = Model.ItemID } )' class="btn btn-sm btn-default">&laquo; Back</a>    
</div>

