@model Projects.BL.Task

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Task</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.TaskID)

        <div class="form-group">
            @Html.LabelFor(model => model.ItemID, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ItemID)
                @Html.ValidationMessageFor(model => model.ItemID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TaskDescription, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TaskDescription)
                @Html.ValidationMessageFor(model => model.TaskDescription)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.StatusID, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.StatusID, (SelectList)ViewBag.Statuses)
                @Html.ValidationMessageFor(model => model.StatusID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Sequence, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Sequence)
                @Html.ValidationMessageFor(model => model.Sequence)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AppTypeID, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.AppTypeID, (SelectList)ViewBag.AppTypes)
                @Html.ValidationMessageFor(model => model.AppTypeID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AppProjectName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AppProjectName)
                @Html.ValidationMessageFor(model => model.AppProjectName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AppFile, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AppFile)
                @Html.ValidationMessageFor(model => model.AppFile)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LineNumbers, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LineNumbers)
                @Html.ValidationMessageFor(model => model.LineNumbers)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AssignDate, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AssignDate)
                @Html.ValidationMessageFor(model => model.AssignDate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.StartDate, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.StartDate)
                @Html.ValidationMessageFor(model => model.StartDate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DueDate, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DueDate)
                @Html.ValidationMessageFor(model => model.DueDate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CompleteDate, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CompleteDate)
                @Html.ValidationMessageFor(model => model.CompleteDate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LastWorkedOnDate, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LastWorkedOnDate)
                @Html.ValidationMessageFor(model => model.LastWorkedOnDate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CreateDate, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CreateDate)
                @Html.ValidationMessageFor(model => model.CreateDate)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
